<header>
  <div class="inner-header clearfix">
    <div class="row left clearfix">
      <div id="home"><span>Anna Nguyen</span></div>
    </div>
    <div class="row center clearfix">
      <nav>
        <ul>
          <li><a>About</a></li>
          <li><a>Projects</a></li>
          <li><a>Resume</a></li>
        </ul>
      </nav>
    </div>
    <div class="row right clearfix"></div>
  </div>
  <style>
    header {
      position: relative;
      top: 0px;
      width: 100%;
      padding: 1.2rem;
    }
    nav ul li {
      display: inline
    }
    .inner-header {
      position: relative;
    }
    .clearfix {
      overflow: auto;
    }
    .row {
      position: relative;
      float: left;
      width: 33%;
    }
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }


  </style>
</header>
